/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: rgba(240, 240, 240, 1);
  font-family: Barlow, Arial, sans-serif;
  color: rgba(50, 50, 50, 1);
}

button {
  font-family: Barlow, Arial, sans-serif;
  color: rgba(50, 50, 50, 1);
  font-size: 1rem;
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
}

p {
  width: 100%;
}

form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(220, 220, 220, 1);
}

form i {
  color: rgba(150, 150, 150, 1);
  padding-right: 1.5rem;
}

input {
  width: 100%;
  border: none;
  font-size: 1rem;
  color: rgba(50, 50, 50, 1);
  background-color: transparent;
}

input::placeholder {
  font-style: italic;
}

input:focus {
  outline: none;
}

footer {
  display: none;
}

/* Main */
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hide {
  display: none !important;
}

.todo-list-container {
  width: 500px;
  max-width: 500px;
  background-color: white;
  box-shadow: 0 0 30px rgba(150, 150, 150, 0.25);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(220, 220, 220, 1);
}

.input-add-task {
  padding: 1.5rem;
}

.todo-list i {
  width: 20px;
}

.remove-button {
  border: none;
  height: 18px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(220, 220, 220, 1);
  transition: background-color 500ms ease-out;
}

.button:active {
  background-color: rgba(210, 210, 210, 1);
}

.font-awesome-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  width: fit-content;
  margin-right: 1rem;
}

.strike-through {
  text-decoration: line-through;
  color: rgba(150, 150, 150, 1);
}
